<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ipedge.changerfid"
    version="0.2.12">
	<name>EPCWriter</name>
	<description>Allows for the change and update of the Rfid on Android.</description>
	<license>Apache 2.0</license>
	<keywords>cordova,rfid,change,EPC</keywords>
	<repo></repo>
	<issue></issue>

	<js-module src="www/EPCWriter.js" name="EPCWriter">
		<clobbers target="EPCWriter" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="EPCWriter">
				<param name="android-package" value="com.ipedge.changerfid.EPCWriter" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<source-file src="src/android/EPCWriter.java" target-dir="src/" />
	</platform>
</plugin>